<div class="p-4 w-full">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    @for (card of list; track $index) {
    <div
      class="p-4 bg-gray-100 rounded-lg shadow cursor-pointer transition hover:bg-gray-200 flex flex-col gap-2 items-center justify-center"
      (click)="viewCardList(card._id ?? null)"
    >
      <h3 class="text-md font-semibold text-gray-800">{{ card.title }}</h3>
      <p class="text-base text-gray-400">
        Tap on card to see card list and tasks
      </p>
    </div>
    }
    <div
      class="flex flex-col items-center justify-center p-6 text-gray-500 bg-white/30 backdrop-blur-sm"
    >
      <p class="mt-2">Click below to add new list.</p>
      <button mat-button class="mt-3 px-4 py-2 !rounded-md" (click)="addList()">
        <mat-icon>add</mat-icon> Add New List
      </button>
    </div>
  </div>
</div>
