<div class="p-4 w-full">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    @for (list of lists; track $index) {
    <div
      class="p-4 bg-gray-50 rounded-lg shadow transition justify-center hover:bg-gray-100 flex flex-col gap-4 h-40 w-full"
    >
      <div class="flex flex-col gap-8">
        <div
          class="py-4 cursor-pointer border rounded-lg px-1"
          data-cy="list-title"
          (click)="viewCardList(list._id ?? null)"
        >
          <h3
            class="text-md text-gray-800 w-full overflow-hidden whitespace-nowrap text-ellipsis text-center text-[20px] font-bold border-gray-300"
          >
            {{ list.title }}
          </h3>
        </div>
        @if(!list.isMain && list.title && list._id){
        <div class="flex w-full items-center justify-between gap-2">
          <button
            mat-flat-button
            class="!rounded-md"
            (click)="editList(list.title, list._id)"
            data-cy="edit-list-button"
            [attr.data-title]="list.title"
          >
            Edit
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-flat-button
            class="!rounded-md"
            (click)="deleteList(list._id)"
            data-cy="delete-list-button"
          >
            Delete
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        }
      </div>
    </div>
    }
    <div
      class="flex flex-col cursor-pointer items-center justify-center p-6 text-gray-500 bg-white/30 backdrop-blur-sm rounded-lg shadow h-40"
      (click)="addList()"
    >
      <button
        mat-button
        class="px-4 py-2 !rounded-md"
        data-cy="add-list-button"
      >
        <mat-icon>add</mat-icon> Add New List
      </button>
    </div>
  </div>
</div>
