<header
  class="bg-[#7D00FA] text-white py-2 flex flex-col justify-center items-center shadow-md rounded-xl mb-6 w-full"
>
  <h1 class="text-xl font-bold">To Do List</h1>
  <div
    class="flex lg:gap-20 gap-6 items-center lg:px-12 pt-3 lg:text-lg text-base font-semibold cursor-pointer"
  >
    <span [routerLink]="['done/']" routerLinkActive="font-bold"
      >Done Tasks</span
    >
    <span [routerLink]="['main']" routerLinkActive="font-bold">Home</span>
    <span [routerLink]="['list']" routerLinkActive="font-bold">
      Tasks List</span
    >
  </div>
</header>
