<header
  class="bg-[#7D00FA] text-white py-2 flex flex-col justify-center items-center shadow-md rounded-xl mb-6 w-full"
>
  <h1 class="text-xl font-bold">To Do List</h1>
  <div
    class="flex lg:gap-16 gap-6 items-center lg:px-12 pt-3 lg:text-lg text-base font-semibold cursor-pointer"
  >
    <span
      data-cy="nav-done-tasks"
      class="tab-text"
      [routerLink]="['done']"
      routerLinkActive="active-tab"
      >Done Tasks</span
    >
    <span
      data-cy="nav-home"
      class="tab-text"
      [routerLink]="['main']"
      routerLinkActive="active-tab"
      >Home</span
    >
    <span
      data-cy="nav-task-list"
      class="tab-text"
      [routerLink]="['list']"
      routerLinkActive="active-tab"
    >
      Tasks List</span
    >
  </div>
</header>
